<div class="flex flex-col items-center justify-center h-screen bg-gray-50">

    <div class="w-full bg-gradient-to-r from-indigo-500 to-purple-600 shadow-lg mt-8 mb-4">
        <h1 class="text-white text-center text-3xl p-6 tracking-wider shadow-md transform transition-all hover:scale-105">
          Workout Progress using Charts
        </h1>
    </div>
      
    <div class="space-x-2 mb-2">
      <button 
        *ngFor="let user of firstThreeUsers" 
        class="px-4 py-2 bg-pink-600 text-white rounded hover:bg-black transform hover:scale-105 transition" 
        (click)="updateChartData(user.id)">
        {{ user.name }}
      </button>
    </div>
    

    <canvas baseChart 
            [type]="'bar'" 
            [data]="data" 
            [options]="chartOptions" 
            #chart>
    </canvas>

</div>
