<div class="w-full bg-gradient-to-r from-indigo-500 to-purple-600 shadow-lg">
  <h1 class="text-white text-center text-3xl p-6 font-extrabold tracking-wider shadow-md transform transition-all hover:scale-105">
    Health Challenge Tracker
  </h1>
</div>

<main class="flex flex-col lg:flex-row p-6 space-y-6 lg:space-y-0 mb-5 gap-6">
  <div class="lg:w-1/3 bg-gradient-to-r from-[#f7a7b5] to-[#fe3367] font-bold rounded-lg p-6 space-y-6">
    <h1 class="text-white text-center text-2xl font-bold">Add Workout</h1>
    <form (ngSubmit)="addWorkout()" class="flex flex-col space-y-4">
      <div class="flex flex-col space-y-2">
        <label for="name" class="text-white">Name:</label>
        <input
          type="text"
          id="name"
          [(ngModel)]="name"
          name="name"
          placeholder="Enter User Name"
          required
          class="p-2 rounded-md border border-[#fe3367] focus:outline-none focus:ring-2 focus:ring-[#f7a7b5]"
        />
      </div>
    
      <div class="flex flex-col space-y-2">
        <label for="workoutType" class="text-white">Workout Type:</label>
        <select
          id="workoutType"
          [(ngModel)]="workoutType"
          name="workoutType"
          required
          class="p-2 rounded-md border border-[#fe3367] focus:outline-none focus:ring-2 focus:ring-[#f7a7b5]"
        >
          <option hidden value="">Select Workout Type</option>
          <option *ngFor="let type of workoutTypes" [value]="type">{{ type }}</option>
        </select>
      </div>
    
      <div class="flex flex-col space-y-2">
        <label for="workoutMinutes" class="text-white">Workout Minutes:</label>
        <input
          type="number"
          id="workoutMinutes"
          [(ngModel)]="workoutMinutes"
          name="workoutMinutes"
          placeholder="Enter mins"
          required
          min="1"   
          class="p-2 rounded-md border border-[#fe3367] focus:outline-none focus:ring-2 focus:ring-[#f7a7b5]"
        />
      </div>
    
      <div class="flex justify-between space-x-4">
        <input
          type="submit"
          value="Add Workout"
          class="cursor-pointer bg-[#fe3367] text-white p-2 rounded-md hover:bg-[#f7a7b5] transition-all"
        />
        <button
          type="button"
          (click)="resetLocalStorage()"
          class="bg-[#fe3367] text-white p-2 rounded-md hover:bg-[#f7a7b5] transition-all"
        >
          Reset LocalStorage
        </button>
      </div>
    </form>
       
  </div>

  <div class="lg:w-2/3 bg-[#f7a7b5] font-bold rounded-lg p-6 space-y-6">
    <h2 class="text-center text-xl font-bold">Workout Stats & Filters</h2>
    <div class="space-y-4">
      <div class="flex flex-col space-y-2">
        <label for="nameFilter" class="text-[#fe3367]">Search by Name:</label>
        <input
          type="text"
          id="nameFilter"
          [(ngModel)]="nameFilter"
          (input)="filterUsers()"
          placeholder="Search Name"
          class="p-2 rounded-md border border-[#fe3367] focus:outline-none focus:ring-2 focus:ring-[#f7a7b5] transition-all"
        />
      </div>

      <div class="flex flex-col space-y-2">
        <label for="workoutTypeFilter" class="text-[#fe3367]">Filter by Workout Type:</label>
        <select
          id="workoutTypeFilter"
          [(ngModel)]="workoutTypeFilter"
          (change)="filterUsers()"
          class="p-2 rounded-md border border-[#fe3367] focus:outline-none focus:ring-2 focus:ring-[#f7a7b5] transition-all"
        >
          <option value="">All Types</option>
          <option *ngFor="let type of workoutTypes" [value]="type">{{ type }}</option>
        </select>
      </div>

      <button
        (click)="clearFilters()"
        class="w-full bg-[#FFFFFF] text-black p-2 rounded-md hover:bg-[#fe3367] transition-all"
      >
        Clear Filters
      </button>
    </div>

    <div class="overflow-x-auto">
      <table class="table-auto w-full border-collapse border-2 border-[#fe3367]">
        <caption class="caption-top text-lg font-bold text-[#000000]">Workout Stats</caption>
        <thead class="bg-[#fe3367] text-white">
          <tr>
            <th class="p-2">Name</th>
            <th class="p-2">Workout Type</th>
            <th class="p-2">Number of Workouts</th>
            <th class="p-2">Workout Minutes</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of paginatedUsers">
            <td class="p-2 border-2">{{ user.name }}</td>
            <td class="p-2 border-2">
              <ng-container *ngFor="let workout of user.workouts; let last = last">
                {{ workout.type }}{{ last ? '' : ', ' }}
              </ng-container>
            </td>
            <td class="p-2 border-2">{{ user.workouts.length }}</td>
            <td class="p-2 border-2">{{ getTotalUserWorkoutMinutes(user) }}</td>
          </tr>
        </tbody>
      </table>

      <div class="flex justify-between items-center mt-4">
        <button
          (click)="previousPage()"
          class="bg-[#fe3367] text-white p-2 rounded-md hover:bg-[#f7a7b5] transition-all"
        >
          Go back
        </button>
        <span class="text-[#000000] font-semibold">Page {{ currentPage }}</span>
        <button
          (click)="nextPage()"
          class="bg-[#fe3367] text-white p-2 rounded-md hover:bg-[#f7a7b5] transition-all"
        >
          Next Page
        </button>
      </div>
    </div>
  </div>
</main>

<app-userschart/>

<footer class="bg-gradient-to-r from-indigo-500 to-purple-600 text-white text-center p-4 mt-15 shadow-lg">
  <p class="font-semibold">© 2025 Health Challenge Tracker. All Rights Reserved.</p>
</footer>


